.featured-products{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.featured-products .title{
  font-size: 17px;
  line-height: 22px;

}
.feature-products-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding:0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.feature-product{
  height: 376px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  text-align: center;
  margin-bottom: 30px;
}
.featured-products .product-title{
  margin-top: 28px;
  font-size: 17px;
  line-height: 22px;
  color: #232323;
}
.featured-products .product-category{
  font-size: 12px;
  line-height: 24px;
  color: #999999;
}
.feature-product + .feature-product{
  border-left: 0;
}
.product-actions{
  position: relative;
  height: 210px;
  width: 210px;
  border: 1px  solid #ffe0cb;
  margin: 0 auto;
}
.product-actions:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.8);
  opacity: 0;
}

.product-actions .additional-links ul{
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product-actions .additional-links{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 130px;
  height: 84px;
}

.product-actions .additional-links .add-to-cart{
  background-color: #be926f;
  display: block;
  padding: 7px 0;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 19px;
}
.product-actions .additional-links ul a{
  display: block;
  height: 25px;
  width: 25px;
  border: 1px solid #be926f;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
}
.product-actions .additional-links .to-favorites{
  background-image: url("images/icon/favorites.png");
}
.product-actions .additional-links .to-comparison{
  background-image: url("images/icon/compare.png");
}
.product-actions .additional-links .zoom{
  background-image: url("images/icon/zoom.png");
}

.product-price{
  color: #be926f;
  font-size: 20px;
  line-height: 24px;
}
.product-price s{
  color: #aeaeae;
  font-size: 20px;
  line-height: 24px;
}

.feature-product:hover .product-actions:before,
.feature-product:hover .product-actions .additional-links{
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.to-favorites:hover,
.to-comparison:hover,
.zoom:hover{
  background-color: #be926f;
}

.add-to-cart a{
  color: #ffffff;
  text-decoration: none;
}

.product-actions .sale{
  position: absolute;
  width: 41px;
  height: 41px;
  top: -16px;
  right: -20px;
  background-color: #be926f;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 40px;
  color: #ffffff;
}

@media (max-width:1030px) {
  .featured-products  ul.feature-products-list{
    max-width: 600px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .featured-products{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature-product + .feature-product{
    border-left: 1px solid #e6e6e6;
  }
}

@media (max-width:590px) {
  .featured-products ul.feature-products-list {
    max-width: 220px;
  }
}
