.imageprew{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-prewiev{
  width: 670px;
  height: 620px;
  overflow: hidden;
}
.product-prewiev .thumbs {
  width: 140px;
  float: left;
  margin-top: -15px;
  margin-bottom: -15px;
}
.product-prewiev .thumbs a{
  display: block;
  border: none;
  margin: 15px 0;
}
.product-prewiev .thumbs img{
  width: 140px;
  height: 180px;
  display: block;
}

.product-prewiev .product-image{
  width: 500px;
  height: 600px;
  float: right;
  background: #cccccc;
}

.product-prewiev .product-image img{
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center left;
  object-position: center left;
}

@media (max-width:1200px) {
  .product-prewiev .product-image
  {
    height: 0;
    width: 0;
    display: none;
  }
  .product-prewiev{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }


}
