@import url(structure.css);
@import url(common-classes.css);
@import url(header.css);
@import url(body.css);
@import url(featured-products.css);
@import url(advertisment.css);
@import url(new-posts.css);
@import url(testimonials.css);
@import url(subscription.css);
@import url(customer-links.css);
@import url(contacts.css);
@import url(footer.css);

/*.banner-text1 span{
  font-size: 40px;
}
.banner-text1 span+span{
  font-size: 75px;
  border: 1px solid rgb(68, 232, 42);
}*/
