.subscriptions{
  display: flex;
}
.subscriptions h4{
  margin: 0;
}
.subscriptions p{
  margin: 0;
  padding-right: 77px;
}
.subscriptions .description{
  flex-basis: calc(50% - 20px) ;
}
.subscriptions .subscribe{
  flex-basis: calc(50% + 20px);
}

.subscription{
  margin-top: 60px;
  margin-bottom: 60px;
}

.subscribe{
  display: flex;
  flex-grow: 1;
}

.subscribe form {
  display: flex;
  flex-grow: 1;
  margin: auto 0;
}
.subscriptions .search-form input{
  border: 1px solid #e8e8e8;
  flex-grow: 1;
  padding-left: 16px;
}
.subscriptions .space{
  width: 14px;
}

.subscriptions .search-form button{
  flex-grow: 1;
  padding-left: 14px;
  border: 1px solid #be926f;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 31px;
  background-image: url("images/icon/subscribe.png");
  background-repeat: no-repeat;
  background-position: 21px;
}
